<launch>
    <param name="/use_sim_time" value="false"/>
    <param name="robot_description" textfile="viewer/emu.urdf"/>

    <node name="dynamixel_manager" pkg="dynamixel_controllers" type="controller_manager.py"
        required="true" output="screen">
        <rosparam>
            namespace: dxl_manager
            serial_ports:
                pan_tilt_port:
                    port_name: "/dev/ttyUSB0"
                    baud_rate: 1000000
                    min_motor_id: 1
                    max_motor_id: 25
                    update_rate: 20
        </rosparam>
    </node>

    <rosparam file="config/pan.yaml" command="load"/>

    <node name="pan_controller_spawner" pkg="dynamixel_controllers" type="controller_spawner.py"
        args="--manager=dxl_manager
              --port pan_tilt_port
              pan_controller_1
              pan_controller_2
              pan_controller_3
              pan_controller_4
              tilt_controller_1
              tilt_controller_2
              tilt_controller_3"
        output="screen"/>

    <node name="commander" pkg="ass2" type="commander" output="screen">
        <param name="/servo_limits/1_min" value="-1.67"/>
        <param name="/servo_limits/1_max" value="1.67"/>
        <param name="/servo_limits/2_min" value="-1.3"/>
        <param name="/servo_limits/2_max" value="3.0"/>
        <param name="/servo_limits/3_min" value="-1.5"/>
        <param name="/servo_limits/3_max" value="1.5"/>
    </node>

    <node name="joyStickConverter" pkg="ass2" type="joyStickConverter" output="screen">

        <param name="/default_positions/a_pos_cam" value="0"/>
        <param name="/default_positions/a_pos_head" value="1.4"/>
        <param name="/default_positions/a_pos_base" value="-0.78"/> 

        <param name="/default_positions/b_pos_cam" value="0"/>
        <param name="/default_positions/b_pos_head" value="1.15"/>
        <param name="/default_positions/b_pos_base" value="-0.78"/>

        <param name="/default_positions/y_pos_cam" value="0"/>
        <param name="/default_positions/y_pos_head" value="1.5"/>
        <param name="/default_positions/y_pos_base" value="-0.3"/>


    </node>

    <node name="joy_node" pkg="joy" type="joy_node" output="screen">
        <rosparam>
            autorepeat_rate : 20.0
        </rosparam>
    </node>

    <node name="image_publisher" pkg="ass2" type="image_publisher" output="screen">
        <param name="/image_settings/width" value="320"/>
        <param name="/image_settings/height" value="240"/>
        <param name="/image_settings/video_stabilisation" value="1"/>
    </node>
    <node name="emu_state_publisher" pkg="ass2" type="emu_state_publisher" output="screen" />
   <!-- <node name="republisher" pkg="image_transport"  -->
    <!-- <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" />-->
</launch>
